# Misc
GH_TOKEN.txt

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# IDE - VS Code
.vscode/
*.code-workspace

# IDE - Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Logs
*.log
